.content{
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dotted white;
}

.content h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #4149B4;
}

.content p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.content img{
    margin-bottom: 10px;
    width:100%;
}

.content div{
    text-align: right;
}

.content a{
    white-space: nowrap;
    padding: 5px;
    box-shadow: 0 0 8px 1px white;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
    color: black;
    background: rgba(255,255,255,0.7);
}

.content a:hover{
    text-decoration: none;
}

@media(max-width: 767px){
    .content h1{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
        color: #4149B4;
    }

    .content p{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .content a{
        font-size: 12px;
        font-weight: 300;
    }
}

.paging{
    text-align: center;
}

.pagination>li>a, .pagination>li>span{
    background: rgba(0,0,0,0);
    border: 1px dashed white;
}

.pagination>li>a:hover{
    background: rgba(0,0,0,0);
}
