/* 整体布局 */
body{
    font-family: KaiTi,SimSun,Microsoft YaHei;
    width:80%;
    background: rgba(0,0,0,0);
    box-shadow: 0 0 25px 0.5px #2439A3;
    border-radius: 20px;
    margin:60px auto;
    overflow-x: hidden;
}
.bg{
    background:url('/public/images/back.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.page{
    width:93%;
    /* border:1px solid black; */
    background: rgba(0,0,0,0);
    margin:0 auto;
    padding:40px 0 20px 0;
    
}

.row{
    text-align: center;
}

/* 整体布局 */

/* 导航栏 */
.navbar-default{
    background:white;
    border:none;
    box-shadow: 0 1px 5px white;
    background: rgba(0,0,0,0);
    opacity: 0.9;
    margin-bottom: 35px;
    z-index: 10;
}

.navbar-default .navbar-brand{
    color: #4149B4;
    font-size: 26px;
}

.navbar-default .navbar-nav>li>a{
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.navbar-nav>li>.dropdown-menu{
    background: rgba(255,255,255,1);
}

.choose{
    background: rgba(255,255,255,0.3);
}

.navbar-form{
    position: relative;
}

@media(max-width: 950px){
    .navbar-default .navbar-brand{
        font-size: 20px;
    }
    .navbar-default .navbar-nav>li>a{
        font-size: 14px;
        font-weight: 50;
    }
    #searchInput{
        width:180px;
    }
}

@media(max-width: 850px){
    .navbar-default .navbar-brand{
        font-size: 18px;
    }
    .navbar-default .navbar-nav>li>a{
        font-size: 12px;
        font-weight: 40;
    }
    #searchInput{
        width:150px;
    }
}

@media(max-width: 767px){
    #searchInput{
        width:100%;
    }
    #searchButton{
        position: absolute;
        top:30%;
        right:5%;
    }
}

.navbar-form .form-control{
    background: rgba(0,0,0,0);
    border:none;
    color: white;
    box-shadow: 0 0 3px 1px white;
}

.navbar-form button[type="submit"]{
    position: absolute;
    top:25%;
    right:10%;
    background: none;
    border: none;
}

.navbar-form input[type="text"]::-webkit-input-placeholder{
    color: white;
}

.navbar-form .glyphicon{
    color: white;
}
/* 导航栏 */



