{%extends 'layout.html'%}

{%block content%}

<ol class="breadcrumb">
    <li><a href="/admin/articleAdd">内容管理</a></li>
    <li class="active">内容添加</li>
</ol>

<form role="form" method="post" action="?">
    <div class="form-group">
        <label for="category" id="title">分类：</label>
        <select name="category" id="category" class="form-control">
            {%for category in categories%}
            <option value="{{category._id.toString()}}">{{category.categoryName}}</option>
            {%endfor%}
        </select>
    </div>
    <div class="form-group">
        <label for="title" class="labelStyle">标题：</label>
        <input type="text" class="form-control inputStyle" name="title" placeholder="请输入内容标题">
    </div>
    <div class="form-group">
        <label for="description" class="labelStyle">简介：</label>
        <textarea type="text" class="form-control inputStyle" name="description" placeholder="请输入内容简介" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="content" class="labelStyle">内容：</label>
        <textarea type="text" class="form-control inputStyle" name="content" placeholder="请输入内容" rows="10"></textarea>
    </div>
    <button type="submit" class="btn">提交</button>
  </form>

{%endblock%}