{%extends 'layout.html'%}

{%block content%}

<div id="welcome">
    <h1>欢迎归来ヾ(✿ﾟ▽ﾟ)ノ</h1>
    <h2>开森么？ヾ(^Д^*)/蓝瘦香菇么？o(╥﹏╥)o</h2>
    <h2>写篇文章分享分享吧( • ̀ω•́ )✧</h2>
    <div>
        <a href="/admin/articleManage/articleAdd">添加文章</a>
    </div>
    <h2>咋嘞？不想写么？(*ﾟﾛﾟ)那挪眼看看左边，有啥子想做的么？❥(ゝω・✿ฺ)</h2>
    <h2>还没有！ щ(ﾟДﾟщ) </h2>
    <h2>右上角 点击 出门左转 拜拜了您嘞￣へ￣</h2>
</div>
<div id="newestContent">
    <div>
        <h3>
            最新动态
        </h3>
    </div>
    <div>
        <ul>
            {%for content in newestContents%}
            <li>
                <h1>{{content.title}}</h1>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>
<div id="newestComment">
    <div>
        <h3>
            最新评论
        </h3>
    </div>
    <div>
        <ul>
            {%for comment in newestComments%}
            <li>
                <h1>{{comment.content}}</h1>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>
{%endblock%}