{%extends 'layout.html'%}

{%block content%}

<ol class="breadcrumb">
    <li><a href="/admin/userManage">用户管理</a></li>
    <li class="active">用户列表</li>
</ol>

<table class="table table-hover">
    <caption>用户信息表</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>头像</th>
        <th>用户名</th>
        <th>密码</th>
        <th>用户地址</th>
      </tr>
    </thead>
    <tbody>
        {%for user in users%}
        {%if user.isadmin==false %}
        <tr>
            <td>{{user.id}}</td>
            <td><img src="{{user.avatarUrl}}" width="50" height="50" class="img-circle"></td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.address}}</td>
        </tr>
        {%endif%}
        {%endfor%}
    </tbody>
</table>

{%include '../page.html'%}

{%endblock%}