{%extends 'layout.html'%}

{%block content%}
    <div>
        <h1>标题</h1>
        <p>
            作者：千千家的易只烊
            时间：2018/3/25
            阅读量：10
            评论：10
        </p>
        <img src="holder.js/600x300" alt="">
        <dfn>
            <p>
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
            </p>
        </dfn>
        <div><a href="">阅读全文</a></div>
    </div>
    <div>
        <h1>标题</h1>
        <p>
            作者：千千家的易只烊
            时间：2018/3/25
            阅读量：10
            评论：10
        </p>
        <img src="holder.js/600x300" alt="">
        <dfn>
            <p>
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
            </p>
        </dfn>
        <div><a href="">阅读全文</a></div>
    </div>
    <div>
        <h1>标题</h1>
        <p>
            作者：千千家的易只烊
            时间：2018/3/25
            阅读量：10
            评论：10
        </p>
        <img src="holder.js/600x300" alt="">
        <dfn>
            <p>
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
            </p>
        </dfn>
        <div><a href="">阅读全文</a></div>
    </div>
    <div>
        <h1>标题</h1>
        <p>
            作者：千千家的易只烊
            时间：2018/3/25
            阅读量：10
            评论：10
        </p>
        <img src="holder.js/600x300" alt="">
        <dfn>
            <p>
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
            </p>
        </dfn>
        <div><a href="">阅读全文</a></div>
    </div>
    <div>
        <h1>标题</h1>
        <p>
            作者：千千家的易只烊
            时间：2018/3/25
            阅读量：10
            评论：10
        </p>
        <img src="holder.js/600x300" alt="">
        <dfn>
            <p>
                这是一段描述文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
                这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字
            </p>
        </dfn>
        <div><a href="">阅读全文</a></div>
    </div>
    <div>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
{%endblock%}