{%extends 'layout.html'%}

{%block content%}
    {%if contents!=''%}
    {%for content in contents%}
    <div class="content">
        <h1>{{content.title}}</h1>
        <p>
            时间：{{content.time}}
            类别：{{content.category.categoryName}}
        </p>
        <dfn>
            <p>
                {{content.description}}
            </p>
        </dfn>
        <div><a href="/contentDetail?id={{content._id.toString()}}">阅 读 全 文 &raquo;&raquo;</a></div>
    </div>
    {%endfor%}
    {%include '../page.html'%}
    {%else%}
    <div class="content">
        <strong>该类型文章不存在</strong>
    </div>
    {%endif%}

    
    
{%endblock%}