<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/main/navHeader.css">
    <link rel="stylesheet" href="/public/css/main/bodyStyle.css">
    <link rel="stylesheet" href="/public/css/main/content.css">
    <link rel="stylesheet" href="/public/css/main/comment.css">
    <title>博客</title>
</head>
<body>
    <div class="page">
        <!-- 导航 -->
        <nav class="navbar navbar-default ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand"><strong>初遇゛</strong></a>
                </div>
                <div class="collapse navbar-collapse" id="responsive-navbar">
                    <ul class="nav navbar-nav" id="guide-nav">
                        <li><a href="/home"><span class="glyphicon glyphicon-home">Home</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               <span class="glyphicon glyphicon-tower"></span> BLOG <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {%for category in categories %}
                                <li><a href="/home?id={{category._id.toString()}}"><span class="glyphicon glyphicon-paperclip">{{category.categoryName}}</span></a></li>
                                {%endfor%}
                            </ul>
                        </li>
                        <li><a href="/comment"><span class="glyphicon glyphicon-leaf">BBS</span></a></li>
                        <li><a href=""><span class="glyphicon glyphicon-bell">About</span></a></li>
                    </ul>
                    <form action="/searchKey" method="post" class="navbar-form navbar-left">
                        <input type="text" name="keywords" placeholder="请输入关键词搜索" class="form-control" id="searchInput">
                        <button type="submit" id="searchButton">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- 导航 -->
        <!-- 主体 -->
        <div class="row">
            <div class="col-sm-8 col-md-8">{%block content%}{%endblock%}</div>
            <div class="col-sm-4 col-md-4 main-right">
                {%if userInfor.id%}
                <!-- 登录成功页面 -->
                <div class="LoginSuccess" id="loginSuccess">
                    <table>
                        <tr>
                            <td colspan="2"><a href="" data-toggle="modal" data-target="#avatar"><img src="{{userInfor.avatarUrl}}" alt="" class="img-circle" id="imgAvatar" width="50px" height="50px"></a></td>
                        </tr>
                        <tr>
                            <td colspan="2"><span class="adminName">{{userInfor.username}}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="">
                                    <strong>{{userInfor.posts}}</strong><br>
                                    <span>POSTS</span>
                                </a>
                            </td>
                            <td>
                                <a href="">
                                    <strong>{{userInfor.categories}}</strong><br>
                                    <span>CATEGORIES</span>
                                </a>
                            </td>
                        </tr>
                        {%if userInfor.isadmin%}
                        <tr>
                            <td colspan="2"><p>欢迎回来!<a href="#" id="jumpTo">点击登录后台</a></p></td>
                        </tr>
                        {%else%}
                        <tr>
                            <td colspan="2"><p>你好，欢迎登录博客</p></td>
                        </tr>
                        {%endif%}
                        <tr>
                            <td colspan="2"><button id="signout">exit</button></td>
                        </tr>
                    </table>
                </div>
                <!-- 登录成功页面 -->
                {%else%}
                <!-- 注册 -->
                <div class="formBorder" id="registerBox" style="display:none">
                    <div>
                        <table border="0">
                            <tr>
                                <th class="tableText">用户名:</th>
                                <th><input type="text" name="username" id=""></th>
                            </tr>
                            <tr>
                                <th class="tableText">密码:</th>
                                <th><input type="password" name="password" id=""></th>
                            </tr>
                            <tr>
                                <th class="tableText">确认密码:</th>
                                <th><input type="password" name="repassword" id=""></th>
                            </tr>
                            <tr>
                                <th colspan="2"><button type="submit" class="btn btn-block">注 册</button></th>
                            </tr>
                            <tr>
                                <th colspan="2"> <p>已有账号？<a href="javascript:;">马上登录</a></p></th>
                            </tr>
                            <tr>
                                <th colspan="2"><em class="warningInfo"></em></th>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- 注册 -->
                <!-- 登录 -->
                <div class="formBorder" id="loginBox">
                        <div>
                            <table border="0">
                                <tr>
                                    <th class="tableText">用户名:</th>
                                    <th><input type="text" name="username" id=""></th>
                                </tr>
                                <tr>
                                    <th class="tableText">密码:</th>
                                    <th><input type="password" name="password" id=""></th>
                                </tr>
                                <tr>
                                    <th colspan="2"><button class="btn btn-block">登 录</button></th>
                                </tr>
                                <tr>
                                    <th colspan="2"> <p>还没注册？<a href="javascript:;">马上注册</a></p></th>
                                </tr>
                                <tr>
                                    <th colspan="2"><em class="warningInfo"></em></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                <!-- 登录 -->
                {%endif%}
            </div>
            <div id="avatar" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4>头像选择</h4>
                        </div>
                        <div class="modal-body">
                            <div id="avatar-container">
                                <ul>
                                    <li><img src="/public/images/avatar/1.png" alt="" width="50" height="50"></li>
                                    <li><img src="/public/images/avatar/2.jpg" alt="" width="50" height="50"></li>
                                    <li><img src="/public/images/avatar/3.png" alt="" width="50" height="50"></li>
                                    <li><img src="/public/images/avatar/4.jpeg" alt="" width="50" height="50"></li>
                                    <li><img src="/public/images/avatar/5.jpg" alt="" width="50" height="50"></li>
                                    <li><img src="/public/images/avatar/6.jpg" alt="" width="50" height="50"></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btnChoose" data-dismiss="modal">选择</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 主体 -->
    </div>
    <div class="bg"></div>
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/jquery.cookie.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js" type="text/ecmascript"></script>
    <script src="/public/js/holder.js"></script>
    <script src="/public/js/main/index.js"></script>
    <script src="/public/js/main/navTop.js"></script>
</body>
</html>